{% extends 'base.html.twig' %}

{% block title %}Weather in {location.city}}} {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{location.city}}, {{location.country}}</h1>
    {% for w in weatherStat %}
    <li> {{ w.time|date('d.m.Y') }}: {{ w.temp_avg }} &deg;C</li>
</div>
{% endblock %}
